# API configuration
# Example: http://196.189.50.52:7400
NEXT_PUBLIC_API_URL=

# Application URL
NEXT_PUBLIC_APP_URL=http://localhost:3000

# API Versioned URL
# Example: http://196.189.50.52:7400/api/v1
NEXT_PUBLIC_BASE_API_URL=

# Map Tile URL
# Example: https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png
NEXT_PUBLIC_MAP_TILE_URL=https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png
